<shell-section ngxClass="bg-white py-9">
  <div class="w-full p-4">
    <h3 class="w-full text-2xl mb-4">Discover the best software tools</h3>
    <div class="flex flex-wrap gap-2  *:border-[2px] *:border-[black] *:px-4 *:py-2 *:text-ms *:rounded-full">
      <span>E-Commerce Platafoms</span>
      <span>Sales Intelligence Software</span>
      <span>CRM Software</span>
      <span>Human Resource Management Systems</span>
      <span>E-Commerce Platafoms</span>
      <span>Hepl Desk Software</span>
      <span>Sales Intelligence Software</span>
      <span>CRM Software</span>
      <span>Human Resource Management Systems</span>
      <span>E-Commerce Platafoms</span>
      <span>CRM Software</span>
      <span>Hepl Desk Software</span>
      <span>Sales Intelligence Software</span>
      <span>Human Resource Management Systems</span>
      <span>Hepl Desk Software</span>
    </div>
  </div>
</shell-section>