<shell-section ngxClass="mt-[20px] lg:mt-[200px] bg-[#f3f2f0] py-9">
<div class="w-full p-4">
  <h3 class="w-full text-2xl mb-4">Find the right Job or internship for you</h3>
  <div class="flex flex-wrap gap-2  *:border-[2px] *:border-[black] *:px-4 *:py-2 *:text-ms *:rounded-full">
    <span>Engineering</span>
    <span>Business Development</span>
    <span>Finance</span>
    <span>Administrative Assistant</span>
    <span>Retail Associate</span>
    <span>Customer Service</span>
    <span>Operations</span>
    <span>Information Technology</span>
    <span>Marketing</span>
    <span>Human Resources</span>
    <span>Engineering</span>
    <span>Business Development</span>
    <span>Finance</span>
    <span>Administrative Assistant</span>
    <span>Retail Associate</span>
    <span>Customer Service</span>
    <span>Operations</span>
    <span>Information Technology</span>
    <span>Marketing</span>
    <span>Human Resources</span>
  </div>
</div>
</shell-section>